# Initialization

In [1]:
from ultima.account import Account
from ultima.rest import (
    APT,
    scale_map,
    subs,
    UltimaClient,
    USD
)

In [2]:
client = UltimaClient()
art = Account()
ultima = Account(dev_nb=True)

In [3]:
ultima.address()

'2787bd52d62a5171f68b8c0dd1326efc94aa34109883f214496e5cd1556312da'

In [4]:
# Fund both with TestCoin to cover tx fees
_ = client.mint_testcoin(art.address())
_ = client.mint_testcoin(ultima.address())

In [5]:
# Initialize collateral account then check again
client.init_account(art, ultima.address())

'0xb5ccd9f57eb13a6a337fd249a1cdcea13bb28702f2fcd413d0bd0015c20ecbb7'

# Placing orders

In [6]:
# An ask
client.record_mock_order(
    ultima,
    art.address(),
    id=123,
    side='Sell', # Casts to bool
    price=123, # str or int
    unfilled='14.234' # str or int
)
# A bid
client.record_mock_order(
    ultima,
    art.address(),
    id=345,
    side='Buy', # Casts to bool
    # Truncates if too many digits specified
    price='100.12345678', # str or int
    unfilled=2, # str or int
)

'0x19a37d849cdda5aadb253d6c3650cba566cad48a3a5be345bcbbabd001ec61df'

In [7]:
client.open_orders(art.address(), ultima.address())

    id  side       price  unfilled
0  123  Sell  123.000000    14.234
1  345   Buy  100.123456     2.000